/*   RESPONSIVE SCREEN
 *    - 1. Media screen max width 1480px
 *    - 2. Media screen max width 1240px
 *    - 3. Media screen max width 945px
 *    - 4. Media screen max width 910px
 *    - 5. Media screen max width 768px
 *    - 6. Media screen max width 600px
 *    - 7. Media screen max width 441px
 */
@media screen and (max-width: 1480px){
    /* sercice */
    .img-services {
        position: static;
        width: calc( 100% * 6 / 12);
    }
    .services > div {
        position: static;
        justify-content: space-between;
    }
}
@media screen and (max-width: 1240px){
    /* header */
    .hero-text{
        left: 20px;
    }
    .hero-img {
        left: initial;
        width: 100%;
    }
    .mask {
        background-color: #000000a4;
    }
    .hero-text h1 {
        color: #fff;
    }
    /* agents*/
    .awesome > div:nth-child(2) .awesome-img p {
        right: 70px;
    }
}
@media screen and (max-width: 945px){
    /* header */
    .menu {
        display: block;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .menu h1{
        text-align: center;
    }
    nav ul {
        justify-content: center;
        flex-wrap: wrap;
    }
    .padding-more {
        margin-left: 0px;
    }
    nav ul li:first-child a {
        margin-left: 0;
    }
    nav ul li a {
        font-size: 15px;
        height: 35px;
        display: inline-block;
        line-height: 35px;
        padding: 0 10px;
        text-transform: uppercase;
    }
    .more {
        justify-content: space-between;
    }
    @media screen and (max-width: 910px){
        .how-it-works > p,
        .services > p,
        .our-agents p {
            max-width: 100%;
        }
        /* about */
        #about-us ul li {
            width: calc((100% - 10px) / 2);
        }
        #about-us > ul,
        #about-us > div {
            width: calc((100% - 20px) / 2);
        } 
        /* appartments */
        .for-rent ul {
            flex-direction: column;
                -webkit-flex-direction: column;
                -moz-flex-direction: column;
        }
        .more {
            justify-content: space-between;
        }
        .more a {
            text-align: center;
            padding: 0px 20px;
            max-width: 260px;
        }
        /* works */
        .how-it-works ul li {
            width: calc((100% - 20px) / 3);
            padding: 0 30px 70px;
        }
        .how-it-works ul li span {
            transform: translate(-70px, -42px);
                -webkit-transform: translate(-70px, -42px);
                -moz-transform: translate(-70px, -42px);
                -o-transform: translate(-70px, -42px);
}
        .how-it-works h6 {
            line-height: 35px;
        }
        .how-it-works ul li::before {
            top: 132px;
            left: 4px;
        }
        /* services */
        .img-services {
            height: 425px;
            width: calc((100% - 20px) / 2);
        }
        .img-services img {
            object-fit: cover;
        }
        .snippets {
            width: calc((100% - 20px) / 2);
        }
        /* awesome */
        .awesome > div:first-child .awesome-img p,
        .awesome > div:nth-child(2) .awesome-img p {
            top: 100%;
            right: initial;
            bottom: initial;
            width: 100%;
        }
        .awesome-img p {
            padding: 0 20px;
            text-align: center;
        }
        /* footer */
        .footer-info > div {
            width: calc((100% - 60px) / 4);
        }
    }
    @media screen and (max-width: 768px){
        h3{
            font-size: 30px;
        }
        #about-us,
        #appartments,
        #work,
        .our-agents,
        .awesome {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        #about-us h3,
        #appartments h3,
        .how-it-works h3,
        .services h3,
        #agents h3{
            text-align: center;
        }
        /* header */
        header.container {
            padding-bottom: 30px;
        }
        .hero-text {
            left: 50%;
            top: 35%;
            width: 70%;
            transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
}
        .hero-text h1 {
            font-size: 37px;
            text-align: center;
            line-height: 50px;
        }
        header .search {
            font-size: 15px;
            max-width: 395px;
            margin: 0 auto;
        }
        .search input {
            height: 50px;
            line-height: 50px;
            padding: 0 20px;
        }
        .search button {
            height: 50px;
            line-height: 50px;
        }
        .hero-img ul {
            width: 76%;
        }
        .hero-img ul li {
            font-size: 13px;
            height: 50px;
            line-height: 50px;
            width: 50%;
            text-align: center;
        }
        .hero-img ul li:first-child,
        .hero-img ul li:last-child {
            padding: 0 20px;
        }
        .hero-img ul li:first-child::before {
            left: 20px;
        }
        .hero-img ul li:last-child::before {
            left: 9px;
        }
        .scroll {
            bottom: 84px;
        }
        /* about */
        #about-us {
            display: block;
        }
        #about-us > ul, #about-us > div {
            width: 100%;
        }
        #about-us h3{
            max-width: 100%;
            margin-bottom: 20px;
        
        }
        #about-us > div p {
            margin-bottom: 20px;
        }
        #about-us ul li {
            margin-bottom: 10px;
        }
        /* appartments */
        #appartments h3 {
            max-width: 100%;
            margin-bottom: 30px;
        }
        .for-rent > div {
            width: calc((100% - 10px) / 2);
            margin-bottom: 10px;
        }
        .more {
            display: block;
            text-align: center;
        }
        .more .search {
            margin-right: 0px;
            flex-basis: 485px;
                -webkit-flex-basis: 485px;
            margin: 20px auto;
        }
        .more a{
            height: 50px;
            line-height: 50px;
        }
        .search {
            max-width: 90%;
        }
        /* services */
        .img-services {
            width: calc((100% - 10px) / 2);
        }
        .services > p {
            margin-bottom: 20px;
        }
        .snippets > div {
            margin-bottom: 20px;
        }
        /* work */
        .how-it-works {
            margin-bottom: 30px;
        }
        .how-it-works > p {
            margin-bottom: 20px;
        }
        .how-it-works ul {
            display: block;
        }
        .how-it-works ul li {
            width: 85%;
            padding: 0 30px 30px;
            margin: 20px auto;
        }
        .how-it-works ul li:not(:first-child) {
            background-color: #fff;
            border: 1px solid #ffcc01;
                -webkit-border: 1px solid #ffcc01;
                -o-border: 1px solid #ffcc01;
                -moz-border: 1px solid #ffcc01;
        }
        /* agents */
        .our-agents .container > div {
            display: block;
        }
        .our-agents .container > div > div {
            width: 60%;
            margin: 20px auto;
        }
        .our-agents p {
            margin-bottom: 20px;
        }
        /* awesome */
        .awesome > div:first-child .awesome-img p, 
        .awesome > div:nth-child(2) .awesome-img p {
            top: initial;
            bottom: 0;
        }
        .awesome-info {
            padding-top: 0px;

        }
        .awesome-img,
        .awesome-info {
            width: calc((100% - 20px) / 2);
        }
        .awesome-img p {
            font-size: 13px;
            line-height: 40px;
            height: 40px;
        }
        .awesome-img p::before {
            left: 14px;
        }
        .awesome > div {
            margin-bottom: 30px;
        }
        /* footer */
        .footer-top {
            display: block;
            padding-bottom: 60px;
        }
        .footer-top h2 {
            margin-bottom: 20px;
        }
        .footer-top form {
            width: 100%;
        }
        .footer-bottom {
            display: block;
            padding-top: 60px;
            padding-bottom: 60px;
        }
        .copyright {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
        }
        .copyright h2 {
            margin-bottom: 20px;
        }
        .copyright p {
            max-width: 147px;
        }
        .footer-info {
            width: 100%;
        }
        

    }
    @media screen and (max-width: 600px){
        h3 {
            font-size: 27px;
            line-height: 40px;
        }
        #about-us, 
        #appartments, 
        #work, 
        .our-agents, 
        .awesome {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        /*header */
        header.container {
            padding-bottom: 20px;
        }
        nav ul li a {
            font-size: 13px;
            text-transform: capitalize;
            height: 25px;
            line-height: 25px;
            margin-left: 0;
        }
        .hero-text h1 {
            font-size: 29px;
            margin-bottom: 25px;
        }
        .hero-img ul li {
            font-size: 10px;
        }
        .hero-img {
            height: 400px;
        }
        .hero-img img {
            object-fit: cover;
        }
        .hero-img ul li:first-child::before{
            left: 5px;
            background-size: 15px 15px;
        }
        .hero-img ul li:last-child::before{
            left: -2px;
            background-size: 15px 15px;
        }
        .hero-img ul {
            width: 80%;
        }
        .hero-img ul li {
            font-size: 11px;
            height: 40px;
            line-height: 40px;
        }
        .search input,
        .search button {
            height: 40px;
            line-height: 40px;
        }
        /* about */
        #about-us h3 {
            margin-bottom: 10px;
        }
        #about-us > div p {
            margin-bottom: 10px;
        }
        #about-us > div p {
            line-height: 20px;
        }
        
        #about-us ul li {
            width: calc((100% - 10px) / 2);
            line-height: 32px;
            font-weight: 700;
        }
        #about-us ul li span {
            font-size: 24px;
            line-height: 30px;
            color: #ffcc01;
        }
        /* service */
        .services > p {
            line-height: 20px;
            margin-bottom: 10px;
        }
        .services h3 {
            margin-bottom: 10px;
        }
        .services > div {
            display: block;
        }
        .img-services {
            width: 250px;
            height: 250px;
            margin: 0 auto 20px;
        }
        .snippets {
            width: 100%;
        }
        .snippets h4 {
            text-align: center;
        }
        .snippets > div {
            margin-bottom: 10px;
        }
        .snippets p {
            line-height: 20px;
        }
        /* appartments*/
        #appartments h3 {
            margin-bottom: 10px;
        }
        .for-rent {
            display: block;
        }
        .for-rent > div {
            width: 60%;
            margin: 10px auto;
        }
        .for-rent > div > div {
            background-color: #ffffff;
            padding: 10px;
        }
        .for-rent > div {
            max-width: 400px;
            margin: 10px auto;
            width: initial;
        }
        .search {
            max-width:400px;
        }
        .more a {
            font-size: 14px;
            line-height: 50px;
            height: 50px;
        }
        .more .search {
            margin: 20px auto;
        }
        /* work */
        .how-it-works {
            margin-bottom: 20px;
        }
        .how-it-works h3 {
            margin-bottom: 10px;
        }
        .how-it-works > p {
            line-height: 20px;
            margin-bottom: 10px;
        }
        .how-it-works ul li span {
            display: none;
        }
        .how-it-works ul li::before {
            top: 16px;
        }
        .how-it-works ul li {
            padding: 10px 40px 30px;
            margin: 10px auto;
            width: 95%;
        }
        /* awesowm */
        .awesome-img, .awesome-info {
            width: initial;
            max-width: 500px;
            margin: 0 auto;
        }
        .awesome-info h5 {
            font-size: 20px;
            text-align: center;
        }
        .awesome-info p {
            line-height: 20px;
        }
        .awesome > div:nth-child(2) .awesome-info{
            text-align: left;
        }
        .awesome-info a {
            text-align: center;
            margin: 10px auto;
            display: block;
            max-width: 240px;
            font-size: 15px;
            height: 50px;
            line-height: 50px;
            padding: 0 10px;
        }
        /* footer */
        footer .container {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .footer-top form input {
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
        }
        .footer-top button {
            height: 40px;
            line-height: 40px;
        }
        .footer-top {
            padding-bottom: 40px;
        }
        .copyright h2,
        .copyright p{
            width: calc((100% - 30px) / 2);
        }
        .copyright p{
            max-width: initial;
        }
        .footer-bottom {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .footer-info > div {
            width: calc((100% - 30px) / 2);
            margin-bottom: 20px;
        }
        .footer-info ul li {
            margin-bottom: 10px;
        }
        .footer-info h4 {
            margin-bottom: 20px;
        }
        
    }
    @media screen and (max-width: 441px) {
        header.container {
            padding-bottom: 10px;
        }
        #about-us, #appartments, #work, .our-agents, .awesome {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        /* header */
        .hero-text h1 {
            font-size: 23px;
            margin-bottom: 14px;
            line-height: 35px;
        }
        .search button{
            text-indent: -1000000px;
            background-image: url(imgs/icons/icon-search.png) ;
            background-repeat: no-repeat;
            background-position: center;
        }
        .hero-img ul {
            flex-direction: column;
                -webkit-flex-direction: column;
                -moz-flex-direction: column;
        }
        .hero-img ul li:first-child, .hero-img ul li:last-child {
            padding: 0 10px;
        }
        .hero-img ul li {
            font-size: 13px;
            height: 30px;
            line-height: 30px;
            width: 100%;
        }
        .hero-img ul li:last-child::before {
            left: 5px;
        }
        .hero-img {
            height: 310px;
        }
        /* agents */
        .our-agents .container > div > div > div {
            padding: 10px;
        }
        .our-agents .container > div > div {
            width: 80%;
        }
        .our-agents .container > div > div > div > div {
            flex-wrap: wrap;
                -webkit-flex-wrap: wrap;
        }
        .our-agents .container > div > div > div > h6 {
            margin-bottom: 10px;
        }
        .our-agents ul li {
            margin-right: 10px;
            margin-left: 0;
        }
        .our-agents .container > div > div > div > div > h6 {
            line-height: 20px;
        }
        /* about */
        #about-us h3 {
            margin-bottom: 5px;
        }
        #about-us > div p {
            margin-bottom: 5px;
        }
        #about-us > div p {
            margin-bottom: 5px;
        }
        /* appartments */
        #appartments h3 {
            margin-bottom: 5px;
        }
        /* works */
        .how-it-works {
            margin-bottom: 10px;
        }
        .how-it-works h3 {
            margin-bottom: 5px;
        }
        
        .how-it-works ul li {
            margin: 5px auto;
        }
        /* services */
        .services h3 {
            margin-bottom: 5px;
        }
        .services > p {
            margin-bottom: 5px;
        }
        /* footer */
        .footer-top h2 {
            font-size: 25px;
            line-height: 35px;
        }
        .footer-top h2 {
            font-size: 25px;
            line-height: 35px;
        }
        .copyright {
            display: block;
        }
        .copyright h2, .copyright p {
            width: 100%;
        }
        .footer-info > div {
            width: 100%;
        }
    }
}